* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(skyblue 80%, white);
  background-repeat: no-repeat;
  min-width: 300px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header {
  margin: 1rem;
  font-size: 2rem;
  color: white;
  width: 100%;
  font-weight: bold;
  text-align: center;
}

.weather-input {
  width: 31rem;
  height: 3.5rem;
  font-size: 2rem;
  padding-left: 1rem;
  border: none;
  border-bottom: 2px solid white;
  background-color: skyblue;
  color: white;
}
.weather-input:focus {
  outline: none;
  caret-color: white;
}
.weather-submit {
  background-color: orange;
  color: white;
  border-radius: 8px;
  width: 8rem;
  height: 3rem;
  cursor: pointer;
  border: orange;
  font-size: 1.5rem;
  margin-left: 1rem;
}
#alert {
  color: white;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.weather {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 1rem;
}
.weather-card {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 270px;
  height: 450px;
  border-radius: 20px;
  padding: 30px 20px;
  box-shadow: 2px 2px 10px black;
  font-family: "Roboto Mono", monospace;

  position: relative;
  transition: all 1s;
}
.weather-card:hover {
  transform: scale(105%);
}
.weather-card #country {
  background-color: orange;
  color: white;
  font-size: 1.2rem;
  width: 2rem;
  border-radius: 5px;
}
.weather-card h5 {
  font-size: 2rem;
}
.weather-card h5 sup {
  position: absolute;
  top: 8px;
  right: 8px;
  padding-left: 4px;
}
.weather-card h2 span {
  font-size: 4rem;
  font-weight: 600;
}
.weather-card h2 sup {
  font-size: 2.3rem;
  font-weight: 400;
}
.content {
  text-align: center;
}
footer {
  display: flex;
  justify-content: end;
  margin-top: 2rem;
  margin-right: 1rem;
  background-size: cover;
}
::-webkit-input-placeholder {
  color: white;
}
@media screen and (max-width: 655px) {
  body {
    background-repeat: repeat;
  }
  header {
    font-size: 1.5rem;
  }
  .weather-input {
    width: 90%;
  }
  .weather-submit {
    margin-top: 1rem;
  }
  .weather-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .weather {
    margin-top: -1rem;
  }
  .weather-card {
    margin-top: 0.5rem;
  }
  #alert {
    margin-bottom: 1.5rem;
    padding: 1rem;
    text-align: center;
  }
}
